<template>
  <div id="app">

    <v-alert v-show="submitError"
      type="error"
    >Please Pick A Score</v-alert>
 
    <div class="flex-center-padding">
      <div :class="`text--xl-h4`">
          Click "Begin" to start the survey, give each title or thumbnail as it appears a score out of 10 on how likely you would be to click on a video with such a thumbnail or title. Please note the titles are randomly generated and therefore almost certainly not related. If you realise you have seen a title related to a thumbnail you have already seen or vice versa please still judge them individually. Thanks so much for the help, feel free to exit at any time as the survey will continue as long as you do, go for as long or as little as you wish!
      </div>
    </div>

    <v-btn  @click="()=>rate(rating)">{{btnClicked?'Submit':'Begin'}}</v-btn>

    <div class="flex-center">
      <v-radio-group row v-model="rating">
        <v-radio
          v-for="n in 11"
          :key="n"
          :label="`${n-1}`"
          :value="n"
        ></v-radio>
      </v-radio-group>
    </div>

    <v-row>
      <v-col md="3"></v-col>
      <v-col md="6">
        <v-text-field
          filled
          readonly
          v-model="title"
          v-show="!currentlyViewingImage"
        ></v-text-field>
      </v-col>
    </v-row>
    
    <img :src="getImgURL(image)" v-show="currentlyViewingImage">
    
    <div class="flex-center-padding">
      <div :class="`text--xl-h4`">
          This survey is to collect opinions regarding YouTube titles and thumbnails. The only data being collected is the numerical value you enter. This data will be kept completely anonymously.
      </div>
    </div>
     
  </div>
</template>

<script>
const API_URL_STORE = "http://143.110.163.174:8000/store";
const API_URL_LOOKUP = "http://143.110.163.174:8000/lookup";
export default {
  data: () => ({
    currID: null,
    title: null,
    image: "logo",
    value: 5,
    currentlyViewingImage: true,
    submitError: false,
    btnClicked: false,
    rowNumber: 0,
    rating: 0
  }),
  methods: {
    addMessage(rating) {
      let type = this.currentlyViewingImage?'thumbnail':'title'
      let message = {
        "id": this.currID,
        "rowNumber": this.rowNumber,
        "value": rating,
        "type": type
      }
      fetch(API_URL_STORE, {
        method: "POST",
        body: JSON.stringify(message),
        headers: {
          "content-type": "application/json"
        }
      })
    },
    async getRandomRow(){
      this.currentlyViewingImage = !this.currentlyViewingImage
      var csv = require('./assets/subset.csv')

      let response = await fetch(API_URL_LOOKUP, {
        method: "GET",
        headers: {
          "content-type": "application/json"
        }
      });
      let data = await response.json();
      let limit = 50

      if (data.length > limit){
        let randInstance = data[Math.floor(Math.random() * data.length)]
        let csvRow = csv[randInstance['rowNumber']]
        this.rowNumber = randInstance['rowNumber']
        this.currID = randInstance['id']
        if (randInstance['thumbnail']['0'] == 0 && randInstance['thumbnail']['1'] == 0 && randInstance['thumbnail']['2'] == 0 && randInstance['thumbnail']['3'] == 0 && randInstance['thumbnail']['4'] == 0 && randInstance['thumbnail']['5'] == 0 && randInstance['thumbnail']['6'] == 0 && randInstance['thumbnail']['7'] == 0 && randInstance['thumbnail']['8'] == 0 && randInstance['thumbnail']['9'] == 0 && randInstance['thumbnail']['10'] == 0){
          console.log("Thumbnail")
          console.log(randInstance['rowNumber'])
          this.currentlyViewingImage = true
          this.image = randInstance['id']
          return
        }
        else if (randInstance['title']['0'] == 0 && randInstance['title']['1'] == 0 && randInstance['title']['2'] == 0 && randInstance['title']['3'] == 0 && randInstance['title']['4'] == 0 && randInstance['title']['5'] == 0 && randInstance['title']['6'] == 0 && randInstance['title']['7'] == 0 && randInstance['title']['8'] == 0 && randInstance['title']['9'] == 0 && randInstance['title']['10'] == 0){
          console.log("Title")
          console.log(randInstance['rowNumber'])
          this.currentlyViewingImage = false
          this.title = csvRow.title
          return
        }
      }

      var rowNumber = Math.floor(Math.random() * (10116)) + 1
      var csvRow = csv[rowNumber]
      this.rowNumber = rowNumber
      this.currID = csvRow.id
      if (this.currentlyViewingImage){
        this.image = csvRow.id
      }
      else{
        this.title = csvRow.title
      }
    },
    getImgURL(image){
      var images = require.context('./assets/images/', false, /\.jpg$/)
      return images('./'+image+".jpg")
    },
    rate(rating){
      if (!this.btnClicked){
        this.btnClicked = true
        this.getRandomRow()
        return
      }
      rating = rating - 1
      if (rating == -1){
        this.submitError = true
        return
      }
      else {
        this.submitError = false
      }
      // Save the rating of the title or thumbnail
      this.addMessage(rating)
      this.getRandomRow()
      this.reset(rating+1)
      return rating
    },
    reset (value) {
      if (this.rating === value) {
        this.$nextTick(() => {
          this.rating = null
        })
      }
    }
  }

}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
